body {
  margin: 0;
  height: 100vh;
}

.menu{
  background-color: blue;
  z-index: 1000;
}

.mapContainer{
  height: 100%;
  width: 100%;
}

.div{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rsuite-button {
  font-size: 14px;
  color: #333;
}

